# Your Figma API access token
# Get it from your Figma account settings: https://www.figma.com/developers/api#access-tokens
FIGMA_API_KEY=figd_4Y7jmcQdTGI3Z-1kAlHdgvIHs_.... 

# Server configuration
PORT=3333
